<div class="main-menu">
  <div class="top-section">
    <div class="channels">
      <div class="col first">
        <div class="channel-icon occupied"><img src="assets/images/miichannel.jpg"><div class="hover" id="1" onmouseover="hover()" onclick="zip()" data-img="assets/images/miichannel.jpg"></div></div>
        <div class="channel-icon occupied"><img src="assets/images/miichannel.jpg"><div class="hover" id="2" onmouseover="hover()" onclick="zip()" data-img="assets/images/miichannel.jpg"></div></div>
        <div class="channel-icon blank"><div class="hover" id="3"></div></div>
      </div>

      <div class="col">
        <div class="channel-icon occupied"><img src="assets/images/miichannel.jpg"><div class="hover" id="4" onmouseover="hover()" onclick="zip()" data-img="assets/images/miichannel.jpg"></div></div>
        <div class="channel-icon blank"><div class="hover" id="5"></div></div>
        <div class="channel-icon blank"><div class="hover" id="6"></div></div>
      </div>

      <div class="col">
        <div class="channel-icon occupied"><img src="assets/images/miichannel.jpg"><div class="hover" id="7" onmouseover="hover()" onclick="zip()" data-img="assets/images/miichannel.jpg"></div></div>
        <div class="channel-icon blank"><div class="hover" id="8"></div></div>
        <div class="channel-icon blank"><div class="hover" id="9"></div></div>
      </div>

      <div class="col">
        <div class="channel-icon occupied"><img src="assets/images/miichannel.jpg"><div class="hover" id="10" onmouseover="hover()" onclick="zip()" data-img="assets/images/miichannel.jpg"></div></div>
        <div class="channel-icon blank"><div class="hover" id="12"></div></div>
        <div class="channel-icon blank"><div class="hover" id="12"></div></div>
      </div>
    </div>
  </div>

  <div class="bottom-section">
    <div class="bottom-title"></div>

    <div class="left-button-container">
      <div class="left-button"></div>
      <div class="wii-button corner-button viewchange" onmouseover="hover()" data-view="settings-main" data-transition="fade"></div>
    </div>

    <div class="date"></div>

    <div class="right-button-container">
      <div class="right-button"></div>
      <div class="mail-button corner-button" onmouseover="hover()"></div>
    </div>
  </div>
</div>

<div class="splash-screen">

</div>

<div class="splash-bar">
  <div class="splash-buttons">
    <a href="javascript:void(0)" class="btn menu-btn" onmouseover="hover()" onclick="back()">Wii Menu</a>
    <a href="javascript:void(0)" class="btn" onmouseover="hover()" onclick="select()">Start</a>
  </div>
</div>

<div class="border-topleft border"></div>
<div class="border-topright border"></div>
<div class="border-bottomleft border"></div>
<div class="border-bottomright border"></div>

<div class="screen-message">
  <p>It has been detected that your screen resolution may not be compatible with this project. This project is very experiental and as a result, does not scale to some smaller screens. If you're alright with the layout looking a little off, click anywhere to close this message.</p>
</div>
