<div class="settings settings-main">
  <div class="settings-header">

  </div>

  <div class="settings-content">
    <div class="settings-navcontainer">
      <div class="settings-navbtn info left">
        <div class="icon"></div>
        <span class="label">Info/Credits</span>
      </div>
      <div class="settings-navbtn settings right viewchange" data-view="licenses-temp" data-transition="fade">
        <div class="icon"></div>
        <span class="label">Wii Settings</span>
      </div>
    </div>
  </div>

  <div class="settings-footer">
    <div class="back viewchange" data-view="menu" data-transition="fade"></div>
  </div>
</div>
